/*global css starts*/

* {
  outline: none;
}

@font-face {
  font-family: 'poppins';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'poppinsItalic';
   src:local('Poppins-Italic'), url('../css/fonts/Poppins-Italic.woff') format('woff');
}
@font-face {
  font-family: 'poppinsm';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
  font-family: 'poppinsItalicm';
   src:local('Poppins-Italic'), url('../css/fonts/Poppins-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'poppinsr';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'poppinsbl';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-Black.woff') format('woff');
}
@font-face {
  font-family: 'poppinssb';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'poppinslight';
   src:local('Poppins-SemiBold'), url('../css/fonts/Poppins-Light.woff') format('woff');
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d0cccc;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: auto;
  font-family:sans-serif;
}

body:not(.show-focus-outlines) *:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
    outline: none;
    outline-style: none;
}

[tabindex]:focus {
    outline: 2px solid #ffa500;
}
.tabindex:focus {
  outline: 2px solid #ffa500;
}
.section2insideSlides:focus {
  outline: 0px solid #ffa500;
}
/*global css ends*/

#bk6ch15ss2 {
  position: absolute;
  width: 100%;
  min-height: 734px;
  height: 100%;
  overflow: hidden;
  background: white;
  max-width: 1024px; 
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.mainContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.topMenuBar1{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index:999;
  background-color: black;
}

.exitText{
  position: absolute;
  top: -7px;
  left: 47px;
  font-size: 18px;
  color: white;
  font-family: 'poppinsr';
}
.titleText{
  position: absolute;
  top: -7px;
  left: 92px;
  font-size: 18px;
  color: #f5f3f3;
  font-family: 'poppinsr';
}

.topMenuBar2{
     position: absolute;
     width: 100%;
     height: 56px;
     top: 61px;
     left: 0px;
     display: flex;
     flex-wrap: nowrap;
}

.aboutBookBtn{
  /* position: absolute; */
  width: 25%;
  height: 71%;
  /* top: 14px; */
  /* left: 112px; */
  /* border: 1px solid; */
  text-align: center;
}

.beforeReadingBtn{
  /* position: absolute; */
  width: 25%;
  height: 71%;
  /* top: 14px; */
  /* left: 345px; */
}

.duringReadingBtn{
  /* position: absolute; */
  width: 25%;
  height: 71%;
  /* top: 14px; */
  /* left: 572px; */
}

.afterReadingBtn{
  /* position: absolute; */
  width: 25%;
  height: 71%;
  /* top: 14px; */
  /* left: 803px; */
}

.BtnText1{
      /* position: absolute; */
      /* top: 7px; */
      /* color: #0474ec; */
      font-size: 15px;
      font-weight: bold;
      font-family: 'poppins';
      text-align: center;
      width: 100%;
      cursor:pointer;
}

.BtnText1:hover{
     /* position: absolute; */
     /* top: 7px; */
     color: #0474ec;
     font-size: 15px;
     font-weight: bold;
     font-family: 'poppins';
     text-align: center;
     width: 100%;
     height: 84%;
     border-bottom: 5px solid #0474ec;
}

.btnClicked{
  position: absolute;
  width: 100%;
  top: 47px;
  border-bottom: 4px solid #0474ec;
  display: none;
}

.contentContainer{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 99px;
     left: 0px;
}
.contentContainer {
   -webkit-transition: all 1s ease;
   -moz-transition: 1s ease;
   transition: 1s ease;
}

.Slides{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow:inset 0px 15px 8px -9px #ccc;
  display: none;
  
}

.bgBlack{
  background-color: black;
  box-shadow: none;
  /* display: block; */
}

.slide1Img1{
  position: absolute;
  /*width: 864px;*/
  width: 84%;
  height: 793px;
  top: -102px;
  left: -304px;
  background: url(../images/urn_aaid_sc_US_4ae2b2eb-4e40-4790-b22c-103d54b4fbb8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: -204px; }
}

@keyframes slide {
    100% { left: -204px; }
}

.slide1Img2{
    position: absolute;
    top: 22px;
    left: 25px;
    width: 78px;
    height: 78px;
    background: url(../images/urn_aaid_sc_US_4ae2b2eb-4e40-4790-b22c-103d54b4fbb8\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bookNameTxt{
  position: absolute;
    top: 81px;
    left: 108px;
    /*font-size: 176px;*/
    font-size: 12.88vw;
    font-family: 'poppins';
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 20px 9px 20px rgb(20 9 5 / 90%);
}

.author_name{
  position: absolute;
    left: 85%;
}

.authorNameTxt{
position: relative;
    top: 24px;
    right: 210px;
    font-size: 22px;
    color: #f8f3f3;
    font-family: 'poppinsr';
    /* font-weight: bold; */
    /* letter-spacing: 0.7px; */
    width: 229px;
}

.orbitdiv{
        position: absolute;
        top: 145px;
        z-index: 0;
        right: 190px;
}

.bkimg{
      position: absolute;
    top: 7px;
    left: 12px;
    width: 27px;

}

.active{
   /* position: absolute; */
   /* top: 7px; */
   color: #0474ec;
   font-size: 15px;
   font-weight: bold;
   font-family: 'poppins';
   text-align: center;
   width: 100%;
   height: 84%;
   border-bottom: 5px solid #0474ec;
}

.orbit1{
 
border-radius:50%;
 
position: absolute;
 
top: 0;
 
left: 0;
 
width: 234px;
 
height: 234px;
 
border: 3px solid #222222;
 
opacity: 1;
}

.zindex1{
  z-index:1;
}

.orbit2{
 
border-radius:50%;
 
position: absolute;
 
top: 35px;
 
left: 32px;
 
width: 168px;
 
height: 168px;
 
border: 3px solid #222222;
 
opacity: 1;
}

.orbit3{
 
border-radius:50%;
 
position:absolute;
 
top: 70px;
 
left: 66px;
 
width: 96px;
 
height: 96px;
 
border: 3px solid #222222;
 
opacity: 1;
}

.addimg{
 position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    top: 251px;
    left: 0px;
    width: 28px;
    cursor: pointer;
}

.moreInfo
{
      position: absolute;
      right: 60px;
}
.moreInfoTxt{
     position: absolute;
    top: 242px;
    right: 32px;
    font-size: 16px;
    color: white;
    font-family: 'poppinsr';
    width: 78px;
}

.subtileTxt{
      position: absolute;
      width: 31%;
      top: 286px;
      left: 67%;
      font-size: 18px;
      color: white;
      font-family: 'poppins';
      font-weight: bold;
      line-height: 22px;
      letter-spacing: 1px;
}

.subtitleTxt2{
      position: absolute;
      width: 30%;
      top: 400px;
      left: 67%;
      font-size: 15px;
      color: white;
      font-family: 'poppinsItalic';
      font-style: italic;
      line-height: 22px;
      letter-spacing: 1px;
}

.awardDiv{
  position: absolute;
  /*top: 545px;*/
  bottom: 75px;
  left: 31px;
  height: 180px;
  width: 180px;
  background-color: #EBC979;
  border-radius: 50%;
}

.awardTxt{
 position: absolute;
    top: 8px;
    left: 25px;
    width: 128px;
    font-family: 'poppinsm';
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.section2Slides{
  position: absolute;
  width: 100%;
  height: 100%;
}

.indexDiv{
position: absolute;
    width: 262px;
    height: 262px;
    top: -43px;
    left: -69px;
    background: #EBC979 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 15px 8px -9px #b3b0aa;
    border-radius: 50%;
}

.section2AgendaDiv{
position: absolute;
    width: 142px;
    height: 151px;
    top: 62px;
    left: 99px;
}

.agendaText{
  font-size: 15px;
  font-family: 'poppinssb';
  cursor: pointer;
  color: #000000b0;
}


.slide2activebtn{
  font-weight:bold;
  font-family: 'poppinsbl';
}




.section2insideSlides{
  position: absolute;
  width: 81%;
  height: 88%;
  top: 10px;
  left: 192px;
  display: none;
}

.activeSectionBtnColor{
  color: black;
}

.section2Slide1Header{
  position: absolute;
  top: 38px;
  left: 24px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'poppins';
  color: #000000;
}

.s2header{
  width: 450px;
}
.hrLine1{
  position: absolute;
  top: 96px;
  left: 24px;
  width: 85%;
  border-bottom: 0.1px solid;
}
.hrLine2{
     position: absolute;
     top: 70px;
     left: 27px;
     width: 85%;
     border-bottom: 0.1px solid;
}

.s2line{
  top: 158px;
}

.buildBackgroundDiv{
     position: absolute;
     width: 76%;
     height: 92px;
     top: 124px;
     left: 24px;
}

.buildBgHeader{
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  font-family: 'poppinsm';
  color: #000000;
}

.buildBgContent{
  position: absolute;
  top: 20px;
  /* left: 24px; */
  font-size: 15px;
  font-weight: bold;
  font-family: 'poppinslight';
  color: #000000db;
  line-height: 19px;
}

.buildBackgroundDiv2{
  position: absolute;
  width: 89%;
  height: 338px;
  top: 270px;
  left: 24px;
}

.buildBg2Header{
  position: absolute;
  width: 36%;
  top: 3px;
  left: 31px;
  font-size: 20px;
  font-family: 'poppins';
  color: #0072EE;
  text-decoration: underline;
  text-underline-position: from-font;
}

.buildBg2Content1{
 position: relative;
 top: 45px;
 left: 29px;
 font-size: 16px;
 font-family: 'poppinsr';
}

.buildBg2Content2{
  position: absolute;
  width: 35%;
  top: 98px;
  left: 4%;
  font-size: 15px;
  font-family: 'poppinsItalic';
  font-style: italic;
  line-height: 22px;
}

.s2Slide3{
  overflow-y: scroll;
}

.s2Slide4{
  overflow-y: scroll;
}

.header2{
  left: 52%;
}

.content2{
 top: 28px;
 left: 51%;
}

.buildBg2Content3{
      position: relative;
      width: 34.2%;
      top: 33px;
      left: 51%;
      font-size: 16px;
      font-family: 'poppinsr';
      line-height: 22px;
}

.content4{
  top: 33px;
  left: 51%;
  position: relative;
}

.disclaimerTxt{
        position: absolute;
    width: 180px;
    bottom: 20px;
    left: -168px;
    font-size: 12px;
    font-family: 'poppinsm';
    line-height: 15px;
}
.disclaimerTxt1{
      position: absolute;
    width: 180px;
    bottom: 100px;
    left: 14px;
    font-size: 12px;
    font-family: 'poppinsm';
    line-height: 15px;
}

.colorBlue{
  color: #0072EE;
  text-decoration: underline;
  cursor: pointer;
}

.section2Header2{
  position: absolute;
  width: 506px;
  top: 195px;
  left: 24px;
  font-size: 26px;
  font-family: 'poppinsm';
  font-weight: bold;
}

.s3header{
  top: 120px;
  font-size: 26px;
    font-family: 'poppinsm';
    font-weight: bold;
}

.section2Content1{
 position: absolute;
 width: 85%;
 height: 100%;
 top: 236px;
 left: 24px;
 font-size: 15px;
 font-family: 'poppinsm';
 line-height: 20px;
}

.s3content1{
 width: 80%;
 top: 148px;
 height: 900px;
}

.s3content2{
  position: relative;
  top: 0px;
}

.s3Content3{
  position: relative;
  top: 0px;
}

.indexDiv2{
 
  
      position: absolute;
    width: 262px;
    height: 262px;
    top: -43px;
    left: -69px;
     background: #2D579F 0% 0% no-repeat padding-box;
  box-shadow:inset 0px 15px 8px -9px #7675759c;
    border-radius: 50%;
}

.agendaText2{
  color: #FFFFFF80;
}

.section3ContentContainer{
  position: absolute;
  width: 81%;
  height: 88%;
  top: 10px;
  left: 192px;
  overflow-y: scroll;
  display: none;
}

.section3Header{
  top: 8px;
  left: 24px;
}

.section3hrLine{
  position: absolute;
  top: 65px;
  left: 24px;
  width: 85%;
  border-bottom: 0.1px solid black;
}

.section3Content1{
      position: absolute;
      width: 80%;
      top: 73px;
      left: 24px;
      font-size: 15px;
      font-family: 'poppinsm';
      line-height: 20px;
}

.section3Content2{
  width: 314px;
  top: 147px;
  left: 57px;
}

.section3Txt{
  position: absolute;
  font-size: 15px;
  font-family: 'poppinsm';
}

.section3Content3{
  top: 173px;
  left: 57px;
  font-family: 'poppinsm';
}

.section3Content4{
  width: 295px;
  top: 181px;
  left: 57px;
  font-family: 'poppinsItalic';
  font-style: italic;
}

.section3Header1{
  font-size: 40px;
  font-weight: bold;
  top: 245px;
  left: 24px;
}

.line2{
  top: 298px;
}

.section3Content5{
  width: 80%;
  top: 298px;
  left: 24px;
}

.header3{
  top: 432px;
}

.line3{
  top: 482px;
}

.content6{
  top: 476px;
}

.ulList{
  width: 80%;
  top: 541px;
  left: 0px;
}

.content7{
  top: 635px;
  left: 24px;
  width: 522px;
}

.header4{
  top: 708px;
}

.line4{
  top: 753px;
}

.content8{
  top: 762px;
  left: 24px;
  width: 522px;
}
.wrapper_div{
  position: absolute;
  top: 827px;
  left: 10px;
}

.section3Box{
  position: relative;
    width: 240px;
    height: 340px;
    /* top: 827px; */
    background-color: #ddddddc9;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 19%);
    float: left;
    margin: 10px;
}

.box3{
 /* left: 543px;*/
  width:240px;
}

.boxTxt1{
    font-size: 25px;
    font-weight: bold;
    left: 13px;
    top: -13px;
  
}

.boxTxt2{
  left: 13px;
  top: 50px;
  width: 176px;
  /* font-size: 14px; */
    line-height: 21px;
}

.boxTxt3{
      left: 13px;
    top: 81px;
    width: 229px;
    /* font-size: 14px; */
    line-height: 19px;
}

.section3scrollarea{
      height: 1213px;
    position: absolute;
    width: 100%;
    /* background: red; */
    top: 0;
    left: 0;
    z-index: 999;
}
.section4scrollarea{
      height: 1270px;
    position: absolute;
    width: 100%;
    /* background: red; */
    top: 0;
    left: 0;
    z-index: 999;
}

.activitySupportDiv{
  position: absolute;
    width: 163px;
    height: 30px;
        top: 267px;
    left: 15px;

    background: white;
    border: 2px solid #0072EE;
    color: #0072EE;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.section2ActivitySupport{
      top: 231px;
    left: 30px;
    width: 145px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'poppinsm';
  display: none;
}

.s4co1{
  width: 509px;
  top: 124px;
}

.s4co2{
  top: 154px;
  width: 493px;
}

.s4co3{
  width: 369px;
  top: 200px;
}

.s4co4{
  top: 271px;
}

.section3container{
      position: absolute;
    top: 22px;
    width: 100%;
}

.s4co5{
  top: 315px;
}

.s4co6{
  top: 323px;
}

.s4co7{
  top: 410px;
}

.s4co8{
  top: 454px;
}

.s4co9{
  top: 460px;
}

.s4co10{
  position: absolute;
  top: 518px;
  width: 85%;
  line-height: 22px;
}

.s4co11{
  top: 658px;
    left: 24px;
    width: 527px;
}

.s4co12{
  top: 749px;
}

.s4co13{
  top: 797px;
}

.s4co14{
  top: 802px;
  left: 24px;
  width: 522px;
}

.s4co15{
  top: 869px;
}

.s3co1{
  width: 408px;
  top: 94px;
}

.s3co2{
  top: 122px;
  width: 465px;
}

.s3co3{
  width: 433px;
  top: 165px;
}

.s3co4{
  top: 246px;
}

.s3co5{
  top: 287px;
}

.s3co6{
  top: 293px;
  width: 85%;
}

.s3co7{
  top: 438px;
}

.s3co8{
  top: 479px;
}

.s3co9{
  top: 486px;
  width: 85%;
}

.s3co10{
  position: absolute;
  top: 560px;
  width: 85%;
  line-height: 22px;
}

.s3co11{
  top: 670px;
  left: 24px;
  width: 85%;
}

.s3co12{
  top: 738px;
}

.s3co13{
  top: 781px;
}

.s3co14{
  top: 787px;
  left: 24px;
  width: 85%;
}

.s3co016{
  top: 854px;
}

.s3co15{
  top: 853px;
}

.s3co16{
  width: 222px;
  top: 78px;
}

.s3co17{
top: 60px;
}

.soco18{
  width: 192px;
}

.indexDiv3{
  position: absolute;
  width: 189px;
  height: 199px;
  top: 0px;
  left: 0px;
  background: #963131 0% 0% no-repeat padding-box;
  box-shadow:inset 0px 15px 8px -9px #62605c;
  
  
    position: absolute;
    width: 262px;
    height: 262px;
    top: -43px;
    left: -69px;
    background: #963131 0% 0% no-repeat padding-box;
  box-shadow:inset 0px 15px 8px -9px #62605c;
    border-radius: 50%;
}

.section3AgendaDiv {
   position: absolute;
    width: 138px;
    height: 151px;
    top: 54px;
    left: 91px;
}



.toipcNum2{
  width: 152px;
}
.toipcNum1{
  width: 119px;
}

.agendaText3{
  color: #FFFFFF80;
}

.section4Container{
  position: absolute;
  width: 81%;
  height: 88%;
  top: 10px;
  left: 192px;
  display: none;
}

.section4Header{
 position: relative;
 width: 393px;
 top: 30px;
 left: 24px;
 font-size: 50px;
 font-family: 'poppinsm';
 font-weight: bold;
}

.s4Header{
  width: 486px;
}

.s4Header3{
  width: 620px;
}

.section4hrLine{
  position: absolute;
  top: 150px;
  left: 24px;
  width: 85%;
  border: 1px solid black;
}

.line5{
  top: 89px;
}

.section4Header2{
 position: absolute;
 width: 85%;
 top: 175px;
 left: 24px;
 font-size: 24px;
 font-family: 'poppinsm';
 font-weight: bold;
}

.s4Header2{
  top: 112px;
}

.section4Content{
  position: absolute;
  width: 85%;
  top: 211px;
  left: 24px;
  font-size: 15px;
  font-family: 'poppinsm';
  line-height: 20px;
}

.section4Container1{
  position: absolute;
  /*width: 81%;*/
  height: 88%;
  top: 10px;
  left: 192px;
  display: none;
  overflow-y: scroll;
}

.section4Header1{
 /* position: relative; */
 /* width: 393px; */
 /* top: 0px; */
 /* left: 24px; */
 font-size: 50px;
 font-family: 'poppinsm';
 font-weight: bold;
 float: left;
}

/*.s4Header{
  width: 486px;
}
*/
.s4Header3_1{
  width: 80%;
}

.section4hrLine1{
  position: relative;
  top: 40px;
  left: 24px;
  width: 85%;
  border: 1px solid black;
  float: left;
  clear: both;
}

.line5_1{
   /* top: 0px; */
}

.section4Header21{
 position: relative;
 /* width: 80%; */
 /* top: 175px; */
 /* left: 24px; */
 font-size: 24px;
 font-family: 'poppinsm';
 font-weight: bold;
 float: left;
 clear: both;
 /* margin-top: 0px; */
}

.s4Header2_1{
   top: 42px;
}

.section4Content1{
  position: relative;
  /* width: 85%; */
  /* top: 211px; */
  /* left: 24px; */
  font-size: 15px;
  font-family: 'poppinsm';
  line-height: 20px;
  float: left;
  clear: both;
  margin-top: 10px;
}

.s4Content1{
  width: 85%;
  top: 145px;
}

.s4Content2_1{
  width: 85%;
  top: 49px;
}

.certainly{
  font-family: 'poppinsItalic';
  font-style: italic;
  padding-left: 26px;
}

.underline{
  text-decoration: underline;
}

.dblock{
  /*display: block;*/
      display: flex;
    flex-wrap: nowrap;
}

.slide2section4Img{
      position: absolute;
      width: 9%;
      height: 237px;
      top: -6px;
      left: 95.8%;
      background: url(../images/1.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}
.wrapper_div_Sec4{
  position: relative;
  top: -180px;
}

.section4Box{
  position: relative;
  width: 243px;
  height: 330px;
  top: 236px;
  background-color: #ddddddc9;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  margin: 10px;
  /* overflow-y: scroll; */
}


.s4box1{
  /* left: 24px; */
}

.s4box2{
  /* left: 283px; */
}

.s4box3{
  /* left: 543px; */
}

.s4boxTxt1{
  font-size: 27px;
  font-weight: bold;
  left: 13px;
  top: -17px;
}

.s4boxTxt2{
  left: 13px;
  top: 66px;
  width: 202px;
}

.s4boxTxt3{
  left: 13px;
  top: 66px;
  width: 186px;
}

.activitySupportDiv1{
  position: absolute;
  width: 163px;
  height: 30px;
  top: 261px;
  left: 13px;
  background: white;
  border: 2px solid #0072EE;
  color: #0072EE;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.act1{
  top: 212px;
}

.act2{
  top: 186px;
}

.s4Content3{
  position: absolute;
  top: 66px;
  left: -10px;
  line-height: 20px;
}

.slide2_2{
  width:560px;
}
.hideBlanks
{
  /*visibility: hidden;*/
  font-size: 0px !important;
  position: absolute;
}
.slide3_3_content{
  top: 160px;
}

.slide3activebtn{
  font-weight:bold;
  font-family: 'poppinsr';
  color:white;
}

.slide4activebtn{
  color:white
}

.externalDivs{
  position: absolute;
  width: 100%;
  /*height: 702px;*/
  height: 100%;
  top: 47px;
  left: 0px;
  background-color: white;
  display: none;
  z-index: 999
}

.disclaimerHeader{
  position: absolute;
  top: 93px;
  left: 41.3%;
  width: 100;
  font-size: 45px;
  color: #1D1D1D;
  font-weight: bold;
}

.disclaimerContent{
  position: absolute;
  width: 52%;
  top: 188px;
  left: 41.4%;
  font-size: 16px;
  line-height: 22px;
  font-family:'poppinsm';
  color: #1D1D1D;
}

.closeIcon{
  position: absolute;
    font-size: 32px;
    left: 972px;
    top: 10px;
}

.section8Slide1Img{
  position: absolute;
  top: 109px;
left: 87px;
width: 210px;
height: 307px;
background: url(../images/4.png);
background-repeat: no-repeat;
background-size: 100% 100%;
border: 20px solid #FFFFFF;
border-radius: 10px;
}

.sideimg{
      position: absolute;
    top: -8px;
    width: 32%;
    height: 101%;
}

.aboutBook{
  position: relative;
  top: 70px;
  left: 33%;
  width: 17.9%;
  font-family: 'poppinsm';
  font-size: 14px;
  color: black;
  line-height: 20px;
}

.aboutBookContent{
  position: absolute;    
  top: 73px;    
  left: 53.5%;    
  width: 43%;    
  /*height: 626px;    */
  overflow-y: scroll;
  height: 87%;
}

.aboutBookContentHeader{
  position: absolute;
  top: 0px;
  font-size: 45px;
  color: #1D1D1D;
  font-weight: bold;
}
.aboutHeader2{
  font-size: 45px;
  color: #1D1D1D;
  font-weight: bold;
  line-height: 1;
}

.aboutBookContentSection{
 position: absolute;
    font-size: 14px;
    color: #1D1D1D;
    top: 52px;
    line-height: 21px;
    font-family: 'poppinsm';
}

.round_black{
  position:absolute;
  height:100%;
  width:25%;
  background:black;
  top:-7px
}



.concave{
    position: absolute;
    top: -9px;
    height: 100%;
    width: 24%;
}


.actSupporttitle{
  position: absolute;
    top: 181px;
    left: 17%;
    width: 29%;
    font-size: 4.4vw;
    color: #597CBE91;
    font-weight: bold;
    font-family: 'poppinsm';
}

.actSupportHeader{
  position: absolute;
  top: 68px;
  left: 48.1%;
  /* width: 29.1%; */
  font-size: 45px;
  font-family: 'poppinsm';
  color: #1D1D1D;
  font-weight: bold;
}

.actSupportContent{
  position: absolute;
  width: 44%;
  top: 131px;
  left: 48.1%;
  font-size: 14.5px;
  font-family: 'poppinsm';
  line-height: 26.5px;
  color: #1D1D1D;
}

ol > li::marker {
  font-weight: bold;
}

.olstyles{
  position: absolute;
    left: -23px;
}

.section3actSupportHeader {
  position: absolute;
  top: 68px;
  left: 47.1%;
  /* width: 299px; */
  font-size: 45px;
  color: #1D1D1D;
  font-weight: bold;
}

.section3actSupportContent{
  position: absolute;
  width: 50%;
  height: 600px;
  top: 207px;
  left: 47.1%;
  FONT-WEIGHT: 100;
  line-height: 26.5px;
  color: #1D1D1D;
  overflow-y: scroll;
  font-family:'poppinsm';
}

.extraslide{
  height: 900px;
}

.actSupportContent1{
  width: 100%;
}

.section3Slide1ActSuppportImg{
  position: absolute;
  width: 98%;
  height: 409px;
  top: 300px;
  left: 0px;
  font-size: 11px;
  font-family:'poppinsm';
  line-height: 14px;
  vertical-align:top;
}

.table1{
  position: absolute;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  border-spacing: 2px;
}

.radius1{
  border-top-left-radius: 5px;
}

.radius2{
  border-top-right-radius: 5px;
}

.radius3{
  border-bottom-left-radius: 5px;
}

.radius4{
  border-bottom-right-radius: 5px;
}

td{
  display: table-cell;
  vertical-align: top;
  padding-left: 8px;
}

th {
  background-color: black;
  padding: 5px;
  color: white;
  vertical-align: top;
  text-align: start;
  padding-left: 10px;
}

tr:nth-child(odd) {
  background-color: #cacaca;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}



.section4actSupportHeader{
  position: absolute;
  top: 95px;
  left: 47.1%;
  /* width: 338px; */
  font-size: 45px;
  color: #1D1D1D;
  font-family:'poppinsm';
  font-weight: bold;
}

.section4actSupportContent{
  position: absolute;
  width: 45%;
  top: 212px;
  left: 47.1%;
  font-size: 16px;
  line-height: 30px;
  color: #1D1D1D;
  font-family:'poppinsm';
}

.section4actSupportHeader2{
      position: absolute;
      top: 76px;
      left: 47.1%;
      width: 344px;
      font-size: 45px;
      color: #1D1D1D;
      font-family: 'poppinsm';
      font-weight: bold;
}

.section4actSupportContent2{
  position: absolute;
  width: 45.1%;
  height: 512px;
  top: 187px;
  left: 47.1%;
  font-size: 16px;
  line-height: 21px;
  font-family:'poppinsm';
  overflow-y: scroll;
}

.section4actSupportContent2Img{
  position: absolute;
  width: 100%;
}

.s4Contentact{
  position: relative;
  top: 145px;
}

.s4Contentact1{
  position: relative;
  top: 145px;
}

.s4Contentact2{
  position: absolute;
  top: 650px;
  left: -21px;
  position: relative;
  top: 145px;
}

.iLine{
  text-decoration: underline;
}

.s5Contentact2{
  position: relative;
  top: 145px;
}

.s6Contentact2{
  position: relative;
  top: 145px;
}

.section4actSupportContent2Img1{
  position: relative;
  width: 100%;
  top: 145px;
}

.section5actSupportHeader{
  position: absolute;
  top: 76px;
  left: 47.1%;
  width: 343px;
  font-size: 45px;
  color: #1D1D1D;
  font-family:'poppinsm';
  font-weight: bold;
}

.section5actSupportContent{
  position: absolute;
  width: 43%;
  /* height: 512px; */
  top: 187px;
  font-family:'poppinsm';
  left: 47.1%;
  font-size: 16px;
  line-height: 23px;
}

.projectTemplatetitle{
 position: absolute;
    top: 251px;
    left: 17%;
    width: 29%;
    font-family: 'poppinsm';
    font-size: 4.4vw;
    color: #597CBE91;
    font-weight: bold;
    text-align: center;
}

.projectTemplateImg{
      position: absolute;
      width: 47.1%;
      top: 63px;
      left: 47.1%;
}

.projectRubrictitle {
  position: absolute;
  top: 36px;
  left: 209px;
  width: 291px;
  font-size: 62px;
   font-family:'poppinsm';
  color: #597CBE91;
  font-weight: bold;
  text-align: center;
}

.projectRubricImg{
  position: absolute;
  width: 75%;
  top: 185px;
  left: 190px;
}

.projectRubricTxt{
  position: absolute;
  top: 138px;
  right: 34px;
  width: 293px;
  font-size: 16px;
  color: #1D1D1D;
  font-family: 'poppins';
  /* font-weight: bold; */
}


.scrolldiv{
      position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.morePageUl{
     position: relative;
     top: 65px;
     left: 31%;
     width: 17%;
     font-family: 'poppinsItalic';
     font-size: 14px;
     color: black;
     line-height: 20px;
     list-style-position: inside;
}

.moreli{
  list-style-position: outside;
}

.italicText{
  font-family: 'poppinsItalicm';
  font-size: 14px;
  color: #1D1D1D;
}

.formattedBold{
  font-family: 'Poppins';
  font-weight: bold;
}

.formattedItalic{
  font-family: 'poppinsItalicm';
}

.boldDots{
  list-style-type: disc;
}

.normalFont{
  font-family: 'poppinsm';
    font-style: normal;
}

.s4Header1{
  width: 85%;
  /* height: 10%; */
}

.s4Line{
  /* top: 100px; */
}

.s4Header4{
  /* top: 128px; */
}

.s4con1{
  /* top: 171px; */
}

.intenseDiv{
  position: relative;
  width: 100%;
  height: 247px;
  top: 0px;
  left: 0px;
}

.intenseTxt{
  font-size: 15px;
  font-family: 'poppinsm';
}

.intenseTxt1{
  position: relative;
  top: 1px;
  left: 40%;
}

.intenseImgDiv{
  position: absolute;
  width: 95%;
  height: 186px;
  top: 30px;
  left: 3px;
}

.delicatelyDiv{
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: #fff2cc;
  border: 1px solid black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  line-height: 53px;
}

.gentlyDiv{
  position: absolute;
  width: 100%;
  height: 43px;
  top: 50px;
  left: 0px;
  background-color: #ffe599;
  border: 1px solid black;
  text-align: center;
  line-height: 42px;
}

.firmlyDiv{
  position: absolute;
  width: 100%;
  height: 43px;
  top: 94px;
  left: 0px;
  background-color: #ffd966;
  border: 1px solid black;
  text-align: center;
  line-height: 45px;
}

.fiercelyDiv{
  position: absolute;
  width: 100%;
  height: 47px;
  top: 137px;
  left: 0px;
  background-color: #bf9000;
  border: 1px solid black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
  line-height: 45px;
}

.intenseTxt2{
  position: relative;
  top: 223px;
  left: 23%;
}

@media (min-width:481px) and (max-width:800px) {
  #bk6ch15ss2{
    max-width: 768px;
    min-height: 1024px;
  }
  .contentContainer {
    height: 100%;
  }
  .awardDiv {
    top: auto;
    left: 85px;
    bottom: 70px;
  }
  .subtitleTxt2 {
        top: 750px;
    right: 10px;
    left: auto;
    width: 44%;
  }
  .slide1Img1 {
    width: 98%;
    margin-left: 35px;
  }
  .bookNameTxt {
    top: 10px;
    left: 35px;
    width: 75%;
    font-size: 18vw;
  }
  .subtileTxt {
    width: 43%;
    top: 636px;
    right: 10px;
    left: auto;
  }
  .author_name {
    position: absolute;
    left: 33%;
    top: 668px;
  }
  .authorNameTxt {
    right: 120px;
  }
  .slide1Img2 {
    left: -215px;
  }
  .moreInfo{
    top: 150px;
  }
  .orbitdiv {
    top: 295px;
  }
  .buildBg2Header{
    width: 51%;
  }
  .buildBg2Content1{
    top: 27px;
  }
  .buildBg2Content2 {
    top: 88px;
    width: 51%;
    left: 6%;
  }
  .secondPlay{
    left: 0% !important;
    top: 190px !important;
  }
  .header2 {
    left: 31px;
    top: 192px;
  }
  .content2 {
    left: 31px;
    top: 196px !important;
  }
  .buildBg2Content3{
    left: 31px;
    top: 186px;
    width: 61%;
  }
  .content4{
    top: 190px;
  }
  .actSupporttitle{
    left: 20%;
  }
  .box3 {
    width: 500px;
  }
  .boxTxt3 {
    top: 45px;
    width: 85%;
  }
  .activitySupportDiv{
    top: 175px;
  }
  .section2ActivitySupport {
    top: 245px;
  }
  .section3Box {
    height: 235px;
  }
  .section3Content1 {
    top: 65px;
  }
  .section3Content2 {
    width: 80%;
  }
  .s3co016{
    height: 315px;
  }
  .slides3 .box3{
    height: 235px;
  }
  .s4box3 {
    width: 500px;
    height: 180px;
  }
  .s4boxTxt3 {
    top: 45px;
    width: 80%;
  }
  .act2 {
    top: 115px;
  }
  .projectTemplateImg {
    position: absolute;
    width: 75%;
    top: 210px;
    left: 20%;
  }
  .projectTemplatetitle {
    top: 20px;
    left: 20%;
    width: 48%;
  }
  .projectRubricImg {
    width: 75%;
    top: 35%;
    left: 20%;
  }
  .projectRubricTxt{
    top: 30%;
  }
  .projectRubrictitle {
    top: 20px;
    left: 20%;
  }
  .section4actSupportHeader2 {
    left: 42.1%;
    width: 424px;
}
.section4actSupportContent2 {
    width: 409px;
    left: 42.1%;
}
.section5actSupportHeader {
    left: 42.1%;
    width: 424px;
}
.section5actSupportContent {
    width: 409px;
    left: 42.1%;
}
.slide2_2 {
    width: 520px;
}
.section2Content1 {
    top: 266px;
}

}